body {
    background-color: rgb(250, 250, 250);
    color: black;
    font-family: monospace,sans-serif;
    display: flex;
    flex-flow: column row wrap;
    justify-content: center;
    padding: 15%;
    overflow: hidden;
}
div{
    min-width: 5%;
    height: auto;
    background-color: rgb(200, 243, 223);
    margin: 10px;
    padding: 20px;
    border: black solid 2px;
    border-radius: 15%;
    box-shadow: 15px 20px 50px grey;
    
}
p{
    display: flex;
    flex-flow: column;
    align-items: center;
}

button:hover{
    width: 200px;
    height: 50px;
}
button{
    background-color: rgb(75, 183, 255);
    margin: 5px;
    padding: 5px;
    width: 150px;
    border: black thin 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}
.sign-in{
    width: 200px;
    height: 200px;
    background-color:rgb(250, 250, 250);

}
#username{
    margin: 5px;
    padding: 1px;
    min-width: 15%;
    border: none;
    border-bottom: black thin solid;
}

#password{
    margin: 5px;
    padding: 1px;
    min-width: 15%;
    height: auto;
    border: none;
    border-bottom: black thin solid;
}