/*<!--  FCC_Survey.css --> 
Justify-content options:
This is a Free Code Camp project
Notes:
The navbar should always be at the top of the viewport.
Product landing page should have at least one media query.
Product landing page should utilize CSS flexbox at least once.

*/
/** global element styling **/


.container {
	padding: 0px;
	margin: auto;
	background-color: #ccffcc;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    text-align: center;
}
#title{
	font-family: font-family: 'Rock Salt', cursive;
	text-align: center;
}
#header{
  position: fixed;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
}

#navbar{
  background-color: blue;
  position: fixed;
  overflow: hidden;  
}

#logo {
	width: 75vw;
}
#logo > img{
  width: 500%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

nav {
  font-weight: 400;
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main{
	height: 75%;
	width: 100%;
	margin: 5px;
	display: flex;
    justify-content: Space-around;
    text-align: center;
	font-family: font-family: 'Rock Salt', cursive;
}

#banner > h2 {
	font-family: font-family: 'Rock Salt', cursive;
	margin-top: 150px;
	margin-bottom: 0px;
	word-wrap: break-word;
	align-self: center;
}

#banner > input[type="email"] {
  width: 10%;
  height: 40px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  align-self: center;
}

#banner >input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  align-self: center;
}
#form{
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  align-self: center;
}

#banner input[type="submit"]:hover {
  background-color: purple;
  transition: background-color 1s;
}
#dogtreat{
	width: 75vw;
	height: 100%;
	max-width: 100%;
}
.body{
  display: grid;
  grid-template-column: repeat(5, minmax(15%, 50%));
  grid-template-rows: repeat(4, minmax(15%, 25%));
  grid-gap: 1%;
  
}
#features{
	background-color: #99ff66;
	grid-column-start: 1;
	grid-row-start: 1;

}
#treatimg{
	background-color: #99ff66;
	grid-column-start: 2;
	grid-row-start: 1;
}
#how-it-works{
	background-color: #ff00ff;
	grid-column-start: 2;
	grid-row-start: 2;
}
#spaceimg{
	background-color: #99ff66;
	grid-column-start: 1;
	grid-row-start: 2;
}
#product{
	background-color: #993399;
	grid-column-start: 3;
	grid-row-start: 3;
}
#pricing{
	background-color: #ffff99;
	grid-column-start: 1;
	grid-row-start: 3;
}
.footer {
  background-color: orange;
  margin: 1%;
  padding: 2%;
  grid-column-start: 1;
  grid-row-start: 4;
}
#weblink{
	max-width: 560px;
	width: 100%;
}


/*


@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}


@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}


@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  #banner {
    margin-top: 120px;
  }
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
.product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

