/*<!--  FCC_Landing_page.css --> 
Justify-content options:
This is a Free Code Camp project
Notes:
The navbar should always be at the top of the viewport.
Product landing page should have at least one media query.
Product landing page should utilize CSS flexbox at least once.

*/
/** global element styling **/

/* Header of the page */
.header{
  background-image: repeating-linear-gradient(yellow, blue 10%, green 5%, red );
  color: white;
}

.navbar{
  background-color: white;
  width: 100%;
  height: 150px;
}

.nav {
  font-weight: 400;
}
.nav > ul {
  width: 10%;
}

.logo {
	width: 15%;
}
.logo > img{
  width: 100%;
  height: auto;
}

.header-title{
	font-family: 'Rock Salt', cursive;
	text-align: center;
}


/* body */
.container {
	padding: 0px;
	margin: auto;
	background-color: #ccffcc;
}

.banner{
  width: 100vw;
  height: 200px;
}

.banner > h2 {
	font-family: 'Rock Salt', cursive;
}

.form > input[type="email"] {
  width: 175px;
  height: 40px;
  background-color: #f1c40f;
}

.banner >input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #f1c40f;
}

.form{
  height: 40px;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 2px;
}


.dogtreat{
	width: 300px;
	height: auto;
}

#features{
	background-color: #99ff66;
}
#treatimg{
	background-color: #99ff66;
}
#how-it-works{
	background-color: #ff00ff;
}
#spaceimg{
	background-color: #99ff66;
}
#product{
	background-color: #993399;
}
#pricing{
	background-color: #ffff99;
}
.footer {
  background-color: orange;
  margin: 1%;
  padding: 2%;
}
#weblink{
	width: 100%;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}


@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}


@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  #banner {
    margin-top: 120px;
  }
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
.product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

