html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-image: url("/Voorhies-Clyde-UI-Project-code/imgages/drink-84533_1920.jpg");
    background-size: calc(1.1 * 90vw) calc(0.8 * 70vw);
    
}

.sign-in{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Grenze Gotisch', cursive;   
    overflow: hidden;
    padding: 15px;
    margin: 20px;
    max-width: 400px;
    max-height: 400px;
    min-width: 5%;
    min-height: 5%;
    width: auto;
    height: auto;
    background-color: rgb(200, 243, 223);
    border: black solid 2px;
    border-radius: 15%;
    box-shadow: -15px 10px 35px 10px rgb(65, 64, 62);  
}
h1{
    text-align: center;
    font-size:3em;
    margin:0%;
    padding:0%;
}

button:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(66, 245, 30);
}

button{
    display:flex;
    justify-content: center;
    background-color: rgb(75, 183, 255);
    margin: 15px;
    padding: 5px;
    width: 50%;
    border: black thin 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

#username{
    display:flex;
    margin: 0px;
    padding: 10px;
    min-width: 15%;
    width: 10em;
    border: none;
    border-bottom: black thin solid;
    background-color: transparent;
}

#username:focus{
    background-color:white;
}
#password:focus{
    background-color:white;
}

#password{
    display:flex;
    margin: 0px;
    padding: 10px;
    min-width: 15%;
    width: 10em;
    height: auto;
    border: none;
    border-bottom: black thin solid;
    background-color: transparent;
}